<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <!-- package="apolo.tienda.tienda" paquete original !-->
    <!-- package="com.grupo70.inventario" paquete original !-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/logo_inventario"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_inventario"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:screenOrientation="portrait"
        tools:targetApi="m">
        <activity android:name=".presentation.login.LoginActivity"
                  android:exported="true"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.config.ConfigActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".presentation.home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".presentation.inventory.new.NewInventoryActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".presentation.inventory.list.ListInventoryActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".presentation.inventory.load.InventoryLoadActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".presentation.inventory.view.InventoryDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".presentation.inventory.main.InventoryMainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".presentation.importaciondatos.ImportarDatosActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".presentation.offline.inventario.nuevo.NuevoInventarioActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".presentation.offline.inventario.cargar.CargarTomaInventarioActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".presentation.offline.inventario.listar.ListarTomaInventariosActivity"
            android:screenOrientation="portrait" />


    </application>

</manifest>